# === PYTHON ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.env.*
venv/
.mypy_cache/
.pytest_cache/
*.log

# === NODE / REACT ===
node_modules/
build/
dist/
*.log
*.DS_Store

# === DOCKER ===
*.tar
*.img
*.bak
.dockerignore

# === LOCAL DATA ===
chroma_store/
chroma_data/
*.sqlite
*.db
*.lock
*.pid

# === HELM ===
helm/*/charts/
helm/*/templates/*.bak
helm/*/.helmignore

# === TERRAFORM ===
terraform.tfstate
terraform.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfplan
*.tfvars
*.tfvars.json
crash.log

# === K8s YAMLs & Secrets ===
kubeconfig.yaml
*.crt
*.key
*.pem

# === SYSTEM ===
*.swp
*.swo
*.bak
*.tmp
*.orig

# === IDEs ===
.vscode/
.idea/
*.code-workspace
*.iml


#Misceleneous
commands.txt